{% include "header.html" %}
<p>
    {% if perms.themesapp.can_add_theme %}
    <a href="../{{ TopicId }}/createtheme/">Добавить тему</a>
    {% endif %}
</p>
<hr>
{% for data in dataset %}
    <a href="/messages/{{ CategoryId }}/{{ TopicId }}/{{ data.ID }}">{{ data }}</a>
    {% if perms.themesapp.can_update_theme %}
    <a href="../{{ TopicId }}/updatetheme/{{ data.ID }}">Изменить</a>
    {% endif %}
    {% if perms.themesapp.can_delete_theme %}
    <a href="../{{ TopicId }}/deletetheme/{{ data.ID }}">Удалить</a>
    {% endif %}
<hr>
{% endfor %}
<a href="/topic/{{ CategoryId }}">Назад</a>
{% include "footer.html" %}