{% include "blocks/header.html" %}
<p>
    {% if perms.crudapp.can_add_category %}
        <a href="createcategory/" class="btn btn-primary">Добавить категорию</a>
    {%  endif %}
</p>
<hr>
{% for data in dataset %}
    <a href="topic/{{ data.ID }}">{{ data }}</a>
    {% if perms.crudapp.can_update_category %}
        <a href="updatecategory/{{ data.ID }}" class="btn btn-success">Изменить</a>
    {% endif %}
    {% if perms.crudapp.can_delete_category %}
        <a href="deletecategory/{{ data.ID }}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <hr>
{% endfor %}
<a class="btn btn-danger" href="/">Назад</a>
{% include "blocks/footer.html" %}
